[submodule "core/third-party/spdlog"]
	path = core/third-party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "core/third-party/imgui"]
	path = core/third-party/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "core/third-party/incbin"]
	path = core/third-party/incbin
	url = https://github.com/graphitemaster/incbin.git
[submodule "core/third-party/minhook"]
	path = core/third-party/minhook
	url = https://github.com/TsudaKageyu/minhook.git
